version: "3.8"
services:
  mongo:
    image: mongo:6.0
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
      - ./data:/data
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/defor_db
    depends_on:
      - mongo

volumes:
  mongo_data:
